//Text changes
p {
  margin-top: -10px;
  padding-bottom: 10px;
}

div {
  padding-bottom: 10px;
}

ul {
  margin-top: -10px;
}

ol {
  margin-top: -10px;
}
//Navigation bar
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

nav li:last-child {
  border-right: none;
  border-bottom: none;
}

h1 {
  background-color: #333;
  color: white;
  margin-top: -5px;
}
//affects the ethics statement
sub {
  color: red;
}
